.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;



}

.back {

    background: #8ba987 url('../images/fondo.jpeg') no-repeat center center;
    background-size: 100% 100%;

}

.imgCreate {
    max-width: 100px;
    max-height: 1000px;
    padding-bottom: 50px;
    padding-right: 20px;
}

.click1 {

    margin: 20px;
    padding-bottom: 10px;
}

.padre {
    display: flex;
    margin: 10px;
    padding-bottom: 30px;
    justify-content: space-around;

    align-items: center;
    height: 200px;
}

.Search-Bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.imgError {
    height: 25%;
    width: 25%;
    padding: 30px;
    border-radius: 10px;


}

.refresh1 {
    display: flex;

    justify-content: space-between;
    align-items: center;


}

.buttonRefresh {
    padding-bottom: 50px;
    padding-right: 20px;
}